<% content_for(:title, "Link Details | Hacker News") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 site">
    <div class="post">
      <h3><a href="http://<%= @link.link %>"><%= @link.description %></a></h3>
      <p>Points: <%= @link.link_score %></p>

    </div>
